/* ============================================================
   BASE — Fondations globales
   ============================================================ */

body {
    margin: 0;
    background: radial-gradient(circle at center, #000, #050505, #000);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Press Start 2P', monospace;

    -webkit-user-select: none;
    user-select: none;
    touch-action: manipulation;
}
